body, html {
  min-height: 100%;
}

body {
  background-color: #f4f1de;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.header {
  background-color: #e07a5f;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  color: white;
  height: 80px;
  width: 100%;
  background-color: #3d405b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 0;
}


.container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}
/* Code By Webdevtrick ( https://webdevtrick.com ) */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.gallery img:hover {
  opacity: 1;
  cursor: pointer;
}
.modal-img,
.model-vid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.modal-body {
  padding: 10px;
}
.modal-dialog {
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
  .modal-dialog {
    margin: 0 8vw;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 767px) {
    #largeLogo{
      display: none;
    }
    #smallLogo {
      display: block;
    }
}

@media (min-width: 768px) {
    #largeLogo{
      display: block;
    }
    #smallLogo {
      display: none;
    }
}

.footerTxt {
  font-size: 12pt;
}
