body, html {
  min-height: 100%;
}

body {
  background-color: #f4f1de;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.header {
  background-color: #e07a5f;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  color: white;
  height: 80px;
  width: 100%;
  background-color: #3d405b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 0;
}


.container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

#myBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.filter-button {
display:inline-block;

    font-family: 'Quicksand', sans-serif;
	text-decoration:none;

	color:#928880;
	background-color:transparent;
	border:1px solid #928880;;
	border-radius: 0px;

	padding: .3em 1.2em;
	margin: 10px;

	background-size: 200% 100%;
	background-image: linear-gradient(to right, transparent 50%, #928880; 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.filter-button:hover {
    color:rgba(255, 255, 255, 1);
	background-color:#928880;
	background-position: -100% 100%;
}
.filter-button:active, .filter-button:focus {
    color:rgba(255, 255, 255, 1);
	background-color: #928880;
	outline: none;
}

/* Code By Webdevtrick ( https://webdevtrick.com ) */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.gallery img:hover {
  opacity: 1;
  cursor: pointer;
}
.modal-img,
.model-vid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.modal-body {
  padding: 10px;
  bottom: 40px;
}
.modal-dialog {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modal-content {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}

#myModal {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

@media screen and (max-width: 767px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
  .modal-dialog {
    margin: 0 8vw;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 767px) {
    #largeLogo{
      display: none;
    }
    #smallLogo {
      display: block;
    }

    #myBtnContainer {
        padding: 20px;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    #largeLogo{
      display: block;
    }
    #smallLogo {
      display: none;
    }
}

.footerTxt {
  font-size: 12pt;
}
